

* {
	box-sizing: border-box;
	margin: 0px;
}

body {
	background-color: rgb(43, 41, 41);
}

.header{
	background-color: rgb(17, 17, 17);
	border-top: 0.1px solid black;
	color: rgb(228, 222, 222);
	font-family: 'Montserrat', sans-serif;
	font-family: 'Vujahday Script', cursive;
	font-size: 20px;
	height: 60px;
	text-align: center;
	width: 100%;
}

.header__title{
	padding-top: 3px;
}

.addbook{
	bottom: 55px;
	cursor: pointer;
	padding: 0px;
	position: absolute;
	right: 55px;
}

.addbook__icon{
	margin: 0px;
}

.addbook:hover{
	color: rgb(98, 103, 104);
}

.newbook{
	background: whitesmoke;
	border-radius: 5px;
	font-family: 'Montserrat', sans-serif;
	font-family: 'Mulish', sans-serif;
	font-size: 20px;
	padding: 30px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	top: 200px;
	left: 42%;
	width: 300px;
	z-index: 2;
}

.newbook__title{
	margin-bottom: 10px;
}

.newbook__button{
	background-color: rgb(122, 159, 207);
	border-radius: 5px;
	cursor: pointer;
	margin-top: 20px;
	padding: 10px 30px;
	width: 90%;
}

.newbook__button:hover{
	background-color: rgb(92, 124, 167);
}

.newbook__data{
	height: 30px;
	margin-bottom: 10px;
	padding-left: 5px;
	width: 90%;
}

.newbook__msg{
	display: inline-block;
	font-size: 14px;
	padding-right: 16px;
}

.books{
	display: flex;
	flex-direction: row;
}

.book{
	background-color: rgb(28, 124, 169);
	border-radius: 5px;
	box-shadow: 15px 15px 15px solid rgb(204, 195, 195);
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-family: 'Mulish', sans-serif;
	font-size: 20px;
	height: 250px;
	margin-top: 50px;
	margin-left: 50px;
	text-align: center;
	width: 200px;
}

.book__title{
	background-color: gray;
	border-radius: 5px;
	height: 50px;
	padding-top: 15px;
}

.book__author{
	height: 50px;
	padding-top: 15px;
}

.book__delbtn{
	background-color: rgb(20, 19, 19);
	border: 1px solid rgb(20, 19, 19);
	border-radius: 0px 0px 5px 5px;
	color: white;
	cursor: pointer;
	font-size: 16px;
	height: 30px;
	position: relative;
	top: 56px;
	width: 100%;
}

.book__read{
	background-color: rgba(0, 255, 110, 0.705);
}

.book__unread{
	background-color: rgb(161, 49, 49);
}

.book__read, .book__unread{
	color: white;
	cursor: pointer;
	height: 40px;
	padding-top: 5px;
	top: 56px;
	position: relative;
}
